html
{
	padding: 0;
	margin:0;
}
header
{
	color: black;
    padding-top: 10%;
    background-size: cover;
}
body
{
	margin: 0;
	padding:0;
}
.form
	{
		background-color: #00ffcb59;
		width: 50%;
		margin: auto;
	    text-align: center; 
	    border-style: double;
	    box-shadow: black 2px 2PX 8px;
	    padding-top: 3%;
}
.tablinscri
{
	margin: auto;
    margin-top: 2%;
}
.buton-inscription
{
	  margin: auto;
    width: 17%;
    margin-left: 48%;
}
.section-deventure
{

	width: 100%;
    background-image: url(../image/chaussure.jpg);
    background-size: cover;
    height: 100%;
}