
body
{
    margin: 0px;
}
.table-affichage
{
width: 100%;
   
    color: white;	
}
.section-deventure
{
	background-image: url(../image/ballonterrainjpeg.jpeg);
	background-repeat: no-repeat;
    background-size: cover;
}
main
{
	    padding-top: 3%;
}
.div-tabl
{
	margin: auto;
    width: 80%;
    background-color: #242b2ea1;
    color: white;
    border: solid 4PX #cfe305;
    padding: 1%;
    box-shadow: ;
    height: 85%;
    margin-top: 5%;
    overflow: overlay;	
}

table
{
    border: solid 2px white;
}

tr
{
    height: 60PX;
     border: solid white 2px;
     background-color: #a7a7a7c2;
}
a
{
    text-decoration: none; 
    color: red; 
}
