
body
{
    margin: 0px;
}
.table-affichage
{
width: 100%;
   
    color: white;	
}
.section-deventure
{
	background-image: url(../image/ballonterrainjpeg.jpeg);
	background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
main
{
	    padding-top: 3%;
}
.div-tabl
{
	margin: auto;
    width: 80%;
    background-color: #242b2ea1;
    color: white;
    border: solid 4PX #cfe305;
    padding: 1%;
    box-shadow: ;
    height: 85%;
    margin-top: 5%;
    overflow: overlay;	
}

table
{
    border: solid 2px white;
    margin: auto;
    margin-bottom: 3%;
    text-align: center;
}

tr
{
    height: 60PX;
     border: solid white 2px;
     background-color: #a7a7a7c2;
}
a
{
    text-decoration: none; 
}    

td
{
   width: 13%;
}
/* COULEUR TABLEAU */ 
.red
{
    color: red;
}

.ble
{
    color: blue;
}
.lun
{
  background-color: #d8e3dd80;   
}
.mar
{
    background-color: #d3b5006e;
}
.mer
{
    background-color: #6ed7068f;
}
.jeu
{
    background-color: #0ab9c78f;
}
.ven
{
    background-color: #ff00002e;
}
